*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(16, 122, 19, 0.326);
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 9rem;
}
nav div img {
  width: 180px;
}
nav ul {
  display: flex;
  list-style: none;
  /* align-items: center; */
  gap: 2rem;
}

nav ul li a {
  padding: 8px 0px;
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 16px;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 2px solid rgba(8, 73, 33, 0);
}

nav ul li a:hover {
  border-bottom: 2px solid rgb(8, 73, 33);
}
nav .cari-daftar li a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.hidden {
  display: f;
  align-items: center;
  justify-content: flex-start;
}
.cari-daftar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cari {
  display: flex;
  align-items: center;
  background-color: rgb(236, 236, 236);

  width: 250px;
  height: 50px;
  border-radius: 100px;
}

.cari i {
  margin-left: 20px;
}
.cari a {
  margin-left: 10px;
  color: black;
}
.daftar {
  display: flex;
  align-items: center;
  background-color: rgb(8, 73, 33);
  width: 180px;
  height: 50px;
  border-radius: 100px;
  justify-content: center;
}
.daftar a {
  color: white;
}
/* .daftar :hover {
  box-shadow: 10px 20px 3px;
} */
.menu-humburger {
  display: flex;
  align-items: center;
  font-size: 30px;
}

/* RESPONSIFE */
/* Mobile */
@media only screen and (max-width: 600px) {
  nav ul,
  nav .cari-daftar {
    display: none;
  }
}
/* Tablet */
@media only screen and (max-width: 1400px) {
  nav .hidden {
    display: none;
  }
}

/* Laptop */
@media only screen and (max-width: 1000px) {
}
/* Desktop */
